<!DOCTYPE HTML>
<html ng-app="honeyHeadquartersApp">
  <head>
    <title>Honey Headquarters</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="../static/js/index.js"></script>
  </head>

  <body ng-controller="CitizensCtrl">
    <div id="search-panel">
      <h1>Honey Headquarters</h1>

      <label for="sort-by">Sort by </label>
      <select name="sort-by" ng-model="sort_key" ng-change="new_query()">
        <option value="id">ID</option>
        <option value="name">Name</option>
        <option value="year_acquired">Year</option>
      </select>

      <br>
      <br>

      <label for="character-filter">Character: </label>
      <select name="character-filter" ng-model="character_key" ng-change="new_query()">
        <option ng-repeat="c in characters" value="{[c]}">{[ c ]}</option>
      </select>

      <br>

      <label for="size-filter">Size: </label>
      <select name="size-filter" ng-model="size_key" ng-change="new_query()">
        <option ng-repeat="s in sizes" value="{[s]}">{[ s ]}</option>
      </select>

      <br>

      <label for="hometown-filter">Hometown: </label>
      <select name="hometown-filter" ng-model="hometown_key" ng-change="new_query()">
        <option ng-repeat="h in hometowns" value="{[h]}"> {[ h ]}</option>
      </select>
    </div>
    <div id="citizen-panel" ng-class="{loading: is_loading}">
      <div ng-repeat="c in citizens" class="citizen">
        <img width=100 ng-src="{[ c.image_url ]}" ng-click="show_large_picture(c.image_url)">
        <div class="citizen-details">
          <div><strong>{[ c.name ]}</strong></div>
          <div>{[ c.character ]}</div>
          <div>Born in {[ c.hometown ]} in {[ c.year_acquired ]}</div>
          <div>{[ c.size ]}</div>
          <br>
          <div>{[ c. description ]}</div>
        </div>
      </div>
    </div>

    <div id="large-picture" ng-show="showing_large_picture">
      <div id="close_large_picture" ng-click="showing_large_picture=false"><strong>X</strong></div>
      <img ng-src="{[ large_picture_url ]}" height=600>
    </div>
  </body>
</html>
